.table-ui{
  &__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid #1c202f;
    width: 100%;
    &__item{
      width: 100%;
      max-width: calc(100% / 6);
      text-align: center;
      &:first-child{
        text-align: left;
      }
      &:last-child{
        margin-right: 0px;
        text-align: right;
      }
    }
  }
}