.order {
  &-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0px;
    border-bottom: 1px solid #eff1f9;

    h4 {
      font-weight: 400;

      strong {
        font-weight: 600;
      }
    }

    &:last-child {
      border-bottom: none;
      border-top: 2px solid #141723;
    }
  }

  &-round {
    &__item {
      padding: 16px;
      border-bottom: 1px solid #eff1f9;

      h4 {
        font-weight: 400;
      }

      ul {
        li {
          list-style: initial;
          margin-left: 12px;
        }
      }
    }
  }
}