*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: 0px;
  outline: 0;
  font-family: 'Poppins', sans-serif;
  text-rendering: geometricPrecision;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 700;
}
.group{
  display: flex;
  align-items: center;
}
.backButton{
  margin-right: 24px;
}
button{
  margin-top: 8px;
  color: #538bcc;
  text-decoration: underline;
  cursor: pointer;
}
.container{
  display: flex;
  height: 100vh;
  &__nav{
    width: 20%;
    background: white;
    padding: 24px;
    text-align: center;
    &__item {
      a{
        padding: 16px;
        display: block;
        text-align: left;
        color: rgb(31, 31, 54);
      }
      &.active{
        background: #eff1f9;
        border-radius: 12px;
      }
    }
  }
  &__content{
    background: #eff1f9;

    flex: 1;
    padding: 24px;
  }
}